<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Learn Words</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link href="https://fonts.googleapis.com/css?family=Josefin Sans" rel="stylesheet">
</head>
<body>
<div class="hero">
  <nav>
    <h2 class="logo">Learn<span>Words</span></h2>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Add words</a></li>
      <li><a href="#">Learn</a></li>
    </ul>
    <button type="button">Login</button>
  </nav>
</div>
</body>
</html>
