<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learn Words</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin Sans" rel="stylesheet">
</head>
<body class="page">
<div class="card">
    <div class="front-card">
        <p th:text="${cardFront}"></p>
    </div>
    <div class="back-card">
        <p th:text="${cardBack}"></p>
    </div>

    <div class="remind-button">
        <ul>
            <li><a href="#">Hard</a></li>
            <li><a href="#">Good</a></li>
            <li><a href="#">Easy</a></li>
        </ul>
    </div>
</div>
</body>
</html>
